body {
    font-family: 'Times New Roman';
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}
.card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
